.customer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
}

.exit-btn {
  position: fixed;
  bottom: 20px;   
  left: 20px; 
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: lightcoral;
  cursor: pointer;
  margin-top: 10%;
  min-width: 20px;
  transition: transform 0.2s, background-color 0.2s;
}

.drinks-bar {
  flex: 1;
  color: black;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  flex-shrink: 0;
}

.drinks-bar button {
  width: 15%;
  background-color: lightskyblue;
  font-size: 1.5rem;
  cursor: pointer;
}

.active-drink-btn {
  background-color: dodgerblue !important;
  color: white;
  border-bottom: 4px solid navy;
  font-weight: bold;
  transform: scale(1.05);
}

.drink-container {
  flex: 8;
  padding: 40px;
  text-align: center;
  overflow-y: auto;
}

.drink-group-customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.drink-group-customer button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;

  width: 12%;   
  aspect-ratio: 1; 
  min-width: 100px;
  
  display: flex; 
  justify-content: center;
  align-items: center;

  text-align: center;    
  padding: 1%;

  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;

}

.cart-container {
  position: fixed;
  bottom: 20px;   
  right: 20px; 
}

.cart-container button {
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: lightgreen;
  cursor: pointer;
  margin-top: 10%;
  min-width: 20px;
  transition: transform 0.2s, background-color 0.2s;
}