.customer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
}

.sidebar-customer {
  flex: 1;
  color: black;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid black;
}

.drink-container {
  flex: 6;
  padding: 40px;
  border-right: 2px solid black;
  text-align: center;
}

.cart-container {
  flex: 3;
  padding: 40px;
  text-align: center;
}