.customer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
}

.drinks-bar {
  flex: 2;
  color: black;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.drinks-bar button {
  width: 15%;
}

.drink-container {
  flex: 8;
  padding: 40px;
  text-align: center;
}

.drink-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.drink-group button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;

  width: 10%;   
  aspect-ratio: 1; 
  min-width: 100px;
  
  display: flex; 
  justify-content: center;
  align-items: center;

  text-align: center;    
  padding: 1%;

  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;

}

.cart-container {
  flex: 1;
  padding: 40px;
  text-align: right;
}

.cart-container button {
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: lightgreen;
  cursor: pointer;
  margin-top: 10%;
  min-width: 20px;
  transition: transform 0.2s, background-color 0.2s;
}