.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal {
    background: white;
    padding: 2em;
    width: 25em;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.close-btn {
    position: absolute;
    top: 0.5em;
    right: 0.7em;
    background: none;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}

.input-field {
    width: 100%;
    padding: 0.8em;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.submit-btn {
    
    background: #ff4141;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    align-items: center;
    padding-bottom: 1.6em;
}



.error-message {
    color: #c0392b; 
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
}

.google-login-wrapper {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

.divider {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: #666;
}
