html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 16px;
}

body > #root {
  max-width: 100% !important;  
  width: 100% !important;
  margin: 0 !important;    
  padding: 0 !important;
}

.cashier-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

/* side nav bar */
.sidebar {
  flex: 1;
  background-color: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar button {
  width: 100%;
  background-color: #222;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar button:hover {
  background-color: #444;
}

/* left side */
.drink-section {
  flex: 6;
  background-color: #1a1a1a;
  padding: 40px;
  border-right: 2px solid #ddd;
  text-align: center;
}

.drink-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.drink-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;

  width: 10%;   
  aspect-ratio: 1; 
  min-width: 100px;
  
  display: flex; 
  justify-content: center;
  align-items: center;

  text-align: center;    
  padding: 1%;

  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.drink-btn:hover {
  background-color: #0056b3;
}

/* Right Side */
.cart-section {
  flex: 3;
  background-color: #1a1a1a;
  padding: 40px;
  text-align: center;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
}

.cart-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.cart-list li {
  background-color: #242424;
  margin: 8px auto;
  padding: 10px;
  border-radius: 6px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background-color: #dc3545;
  border: none;
  color: white;
  margin-right: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 0;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #b02a37;
}

.add-btn {
  background-color: #50C878;
  border: none;
  color: white;
  margin-right: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 0;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #329F56;
}

.edit-btn {
  background-color: #8BB3E4;
  border: none;
  color: white;
  margin-right: 10px;
  border-radius: 40%;
  width: 40px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 0;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #6A9EDD;
}

.cart-section {
  flex: 3;
  background-color: #1a1a1a;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.cart-items-wrapper {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px; 
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-details {
  font-size: 0.9rem;
  color: #ccc;
}

.cart-item-price {
  font-weight: normal;
  color: white;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-totals {
  padding-top: 15px;
}

.cart-controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.clear-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #bc212f;
}

.submit-btn {
  background-color: #50C878;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #329F56;
}

/* payment modal layout */
.payment-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.payment-btn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #1e87e5;
  font-size: 1rem;
}

.payment-btn:hover {
  background-color: #106DC7; 
}

.payment-cancel-btn {
  margin-top: 30px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
}

.payment-cancel-btn:hover {
  background-color: #b02a37;
}

/* modal box */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
  z-index: 1000;
  overflow-y: auto;
}

.modal,
.modal-payment,
.modal-employees {
  background: #1a1a1a;
  color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
  margin: 40px 0; 
  max-height: 80vh;
  overflow-y: auto;
}

.modal select, .modal input[type="number"] {
  font-size: 1.0rem;   
  padding: 4px 4px;  
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 100px;
}

.modal-section {
  margin-bottom: 10px;
  text-align: left;
}

.modal-section label {
  display: block;
  margin-bottom: 5px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  min-width: 20px;
  transition: transform 0.2s, background-color 0.2s;
}

.modal-actions button:hover {
  transform: scale(1.05);
  background-color: lightgrey;
}