html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

body > #root {
  max-width: 100% !important;  
  width: 100% !important;
  margin: 0 !important;    
  padding: 0 !important;
}

.returns-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  font-family: Arial, sans-serif;
  color: white;
}

/* side nav bar */
.sidebar {
  flex: 1;
  background-color: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar button {
  width: 100%;
  background-color: #222;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar button:hover {
  background-color: #444;
}

/* left side */
.returns-section {
  flex: 6;
  background-color: #1a1a1a;
  padding: 40px;
  border-right: 2px solid #ddd;
  text-align: center;
}

.returns-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.find-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 20px;

  width: 100px;   
  aspect-ratio: 3; 

  text-align: center;    
  padding: 10px;

  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.find-btn:hover {
  background-color: #0056b3;
}

.returns-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.returns-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.returns-list li {
  background-color: #242424;
  margin: 8px auto;
  padding: 10px;
  border-radius: 6px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* right Side */
.order-section {
  flex: 3;
  background-color: #1a1a1a;
  padding: 40px;
  text-align: center;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
}

.make-return-btn {
  background-color: #38A850;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 20px;

  width: 100px;   
  aspect-ratio: 3; 

  text-align: center;    
  padding: 10px;

  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.make-return-btn:hover {
  background-color: #318F45;
}