html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > #root {
  max-width: 100% !important;  
  width: 100% !important;
  margin: 0 !important;    
  padding: 0 !important;
}

.cashier-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  font-family: Arial, sans-serif;
  color: white;
}

/* left side */
.drink-section {
  flex: 7;
  background-color: #1a1a1a;
  padding: 40px;
  border-right: 2px solid #ddd;
  text-align: center;
}

.drink-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.drink-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;

  width: 20%;   
  aspect-ratio: 1; 
  max-width: 150px;
  min-width: 100px;
  
  display: flex; 
  justify-content: center;
  align-items: center;

  text-align: center;    
  white-space: normal;  
  word-break: break-word; 
  padding: 10px;

  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.drink-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Right Side */
.cart-section {
  flex: 3;
  background-color: #1a1a1a;
  padding: 40px;
  text-align: center;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
}

.cart-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.cart-list li {
  background-color: #242424;
  margin: 8px auto;
  padding: 10px;
  border-radius: 6px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background-color: #dc3545;
  border: none;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 18px;
  line-height: 0;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #b02a37;
}

.cart-controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.clear-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #bc212f;
}

.back-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #1e7e34;
}
